<div class="ui large form segment">
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="two fields">
      <div class="field">
        <label>Station 1:</label>
        <select [(ngModel)]="model.fromStation" name="fromStation" id="fromStation" required>
          <option *ngFor="let stat of stations" [ngValue]="stat">{{stat.naam}}</option>
        </select>
      </div>
      <div class="field">
        <label>Station 2:</label>
        <select [(ngModel)]="model.toStation" name="toStation" id="toStation" required>
          <option *ngFor="let stat of stations" [ngValue]="stat">{{stat.naam}}</option>
        </select>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <input type="text" [minimumDate]="true" [onlyDatePicker]="false" id="dateTime" myDatepicker
               (dateChange)="model.onDateChange($event)">
      </div>
    </div>
    <button type="submit" class="ui gray right floated button">Search Connections</button>
  </form>
</div>
<script src=""></script>
