<div class="ui segment">
  <h3>Add a station</h3>
  <div *ngIf='errorMsg' class="ui negative message">{{errorMsg}}</div>
  <form class="ui form" [formGroup]='model' (ngSubmit)='onSubmit()'>
    <div class="seven wide field">
      <label for="name">Station name</label>
      <input type="text" id="name" name="name" placeholder="Station name" formControlName="name">
      <div class='ui pointing red basic label' *ngIf='model.get("name").errors?.stationAlreadyExists && model.get("name").touched'>
        a station with that name already exists
      </div>
    </div>
    <button [disabled]='!model.valid' class="ui primary button">Add Station</button>
  </form>
</div>
