<div class="ui large form segment">
    <div class="fields">
      <div class="seven wide field">
        <label>From:</label>
        <input type="text" name="from" placeholder="Brussel-Zuid">
      </div>
      <div class="two wide field">
        <button id="switchButton" class="ui blue icon button">
          <i class="exchange alternate white icon"></i>
        </button>
      </div>
      <div class="seven wide field">
        <label>To</label>
        <input type="text" name="to" placeholder="Gent-Sint-Pieters">
      </div>
  </div>
  <div class="fields">
    <div class="seven wide field">
      <input type="datetime-local" name="datetime" />
    </div>
  </div>
  <button class="ui gray right floated button">Search Connections</button>
</div>
