<div class="ui grid ui segment" *ngFor="let route of routes">
  <div class="row">
    <div class="fourteen wide column">
      <h4>{{route.naam}} - {{route.dateTimeString}}</h4>
    </div>
    <div class="two wide column center aligned">
      <button class="center aligned mini ui red button" (click)="deleteRoute(route)">
        <i class="trash large white icon"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="fourteen wide column ui middle aligned divided list">
      <div class="item" *ngFor="let sp of route.stopPlaatsen">
        <p>{{sp.uur}} - {{sp.station.naam}}</p>
      </div>
    </div>
  </div>
</div>
<p>{{errorMsg}}</p>
