<app-navbar  class="ui massive borderless menu"></app-navbar>
<div class="ui centered  grid">
  <div class="five wide column">
    <div class="ui segment">
      Train Disruptions
      <app-disruption></app-disruption>
      <app-disruption></app-disruption>
      <app-disruption></app-disruption>
      <app-disruption></app-disruption>
      <app-disruption></app-disruption>
    </div>
  </div>
  <div class="nine wide column">
    <div class="ui segment">
      <p>Search</p>
      <p>Connections</p>
    </div>
  </div>
</div>
