<div class="ui container">
  <a class="header item">Rail Info</a>
  <a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/" class="item">Connections</a>
  <a *ngIf='(currentUser | async)' routerLinkActive='active' routerLink="/admin" class="item">Admin</a>
  <a *ngIf='(currentUser | async) else login' routerLinkActive='active' routerLink="/logout"
     class="ui right aligned item">Logout</a>
  <ng-template #login>
    <a routerLinkActive='active' routerLink="/login" class="ui right aligned item">Login</a>
  </ng-template>
</div>
