<div class="ui middle aligned center aligned grid loginGrid">
  <div class="column six wide">
    <form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form">
      <div class="ui stacked secondary  segment">
        <h2 class="ui image header">
          <div class="content">
            Log-in to your account
          </div>
          <div *ngIf='errorMsg' class="ui negative message">
            <small>{{errorMsg}}</small>
          </div>
        </h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" formControlName="username" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" formControlName="password" name="password" placeholder="Password">
          </div>
        </div>
        <button [disabled]='!user.valid' class="ui fluid large teal submit button">Login</button>
      </div>
    </form>
  </div>
</div>
